flows.json
[
    {
        "id": "abae993d62724115",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1a1d50b59a95292c",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "148369de717cd4b9",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "243b7f0b3e52653f",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f48e5996016135ac",
        "type": "ui_tab",
        "name": "Hotel Matilde Control de Calefaccion ",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7c447e96.4b96a",
        "type": "ui_tab",
        "name": "Zooland Sys",
        "icon": "home",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "093eb84b5f2dbf36",
        "type": "ui_group",
        "name": "Rooms Floor 1 Matilde",
        "tab": "f48e5996016135ac",
        "order": 1,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4d6972f9287d121c",
        "type": "ui_group",
        "name": "Start / Stop",
        "tab": "f48e5996016135ac",
        "order": 2,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fdd5af167cd417ae",
        "type": "ui_group",
        "name": "Stop Emergency",
        "tab": "f48e5996016135ac",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "530e0d574bdc9236",
        "type": "ui_group",
        "name": "Start to 2 Hours heating",
        "tab": "f48e5996016135ac",
        "order": 3,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c982fbb8.1deb38",
        "type": "ui_group",
        "name": "hidden_group",
        "tab": "7c447e96.4b96a",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "76d4a58ae4094500",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9a6254e6.c472c8",
        "type": "ui_group",
        "name": "Default",
        "tab": "2043e431.1fd824",
        "order": 1,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "2043e431.1fd824",
        "type": "ui_tab",
        "name": "ON TIME",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c101823e74ae2663",
        "type": "ui_group",
        "name": "Led Star 2 hours",
        "tab": "f48e5996016135ac",
        "order": 4,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d8a250a95ec1ca4b",
        "type": "xterm_config",
        "rows": 60,
        "columns": 120,
        "cursorStyle": "bar",
        "fastScrollModifier": "alt",
        "scrollSensitivity": 1,
        "fastScrollSensitivity": 1,
        "scrollback": 1000,
        "backgroundColor": "#000000",
        "foregroundColor": "#ffffff",
        "fontSize": 14,
        "cursorBlink": true,
        "drawBoldTextInBrightColors": true,
        "loggingEnabled": false,
        "name": "XTerminal"
    },
    {
        "id": "70fb931.dfc146c",
        "type": "ui_group",
        "name": "MainGroup",
        "tab": "4bb34f67.69a87",
        "order": 1,
        "disp": false,
        "width": 10,
        "collapse": false
    },
    {
        "id": "4bb34f67.69a87",
        "type": "ui_tab",
        "name": "Weather",
        "icon": "fa-thermometer-half",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9e96dcbcd782ac50",
        "type": "ui_button",
        "z": "abae993d62724115",
        "name": "",
        "group": "fdd5af167cd417ae",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Stop Emergency",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 100,
        "wires": [
            [
                "c0ba35011581cebd",
                "8a0b2f8624848942",
                "ee08f9e7a9f726eb",
                "29a5df6ffeeb7b23",
                "a93a1435db05bb99",
                "fbee432ba0b82c06"
            ]
        ]
    },
    {
        "id": "ee08f9e7a9f726eb",
        "type": "ui_button",
        "z": "abae993d62724115",
        "name": "",
        "group": "530e0d574bdc9236",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Start heating 2 Hours",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 280,
        "y": 200,
        "wires": [
            [
                "29a5df6ffeeb7b23",
                "8a0b2f8624848942",
                "a93a1435db05bb99",
                "fbee432ba0b82c06"
            ]
        ]
    },
    {
        "id": "8a0b2f8624848942",
        "type": "ui_switch",
        "z": "abae993d62724115",
        "name": "",
        "label": "On / Off  Room 101",
        "tooltip": "",
        "group": "093eb84b5f2dbf36",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 60,
        "wires": [
            [
                "c0ba35011581cebd",
                "29a5df6ffeeb7b23"
            ]
        ]
    },
    {
        "id": "b97bc1c0.cb899",
        "type": "ui_template",
        "z": "abae993d62724115",
        "group": "c982fbb8.1deb38",
        "name": "Clock Toolbar",
        "order": 2,
        "width": "0",
        "height": "0",
        "format": "<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "global",
        "x": 100,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "29a5df6ffeeb7b23",
        "type": "ui_led",
        "z": "abae993d62724115",
        "order": 1,
        "group": "4d6972f9287d121c",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 1090,
        "y": 60,
        "wires": []
    },
    {
        "id": "c0ba35011581cebd",
        "type": "rpi-gpio out",
        "z": "abae993d62724115",
        "name": "Room 101",
        "pin": "4",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1110,
        "y": 120,
        "wires": []
    },
    {
        "id": "a93a1435db05bb99",
        "type": "trigger",
        "z": "abae993d62724115",
        "name": "",
        "op1": "1",
        "op2": "true",
        "op1type": "str",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 770,
        "y": 180,
        "wires": [
            [
                "c0ba35011581cebd",
                "9e96dcbcd782ac50",
                "8a0b2f8624848942"
            ]
        ]
    },
    {
        "id": "fbee432ba0b82c06",
        "type": "ui_led",
        "z": "abae993d62724115",
        "order": 1,
        "group": "c101823e74ae2663",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 750,
        "y": 240,
        "wires": []
    },
    {
        "id": "5d4f75354d687282",
        "type": "ui_button",
        "z": "abae993d62724115",
        "name": "",
        "group": "fdd5af167cd417ae",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Stop Emergency",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 400,
        "wires": [
            [
                "c4400fa2668f6248",
                "22f24aae16d8e4d5",
                "8af4bc4450c96b18",
                "a1339026204c75a8",
                "24b5473199a96bed",
                "db6de4567f5474a4"
            ]
        ]
    },
    {
        "id": "8af4bc4450c96b18",
        "type": "ui_button",
        "z": "abae993d62724115",
        "name": "",
        "group": "530e0d574bdc9236",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Start heating 2 Hours",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 280,
        "y": 500,
        "wires": [
            [
                "a1339026204c75a8",
                "22f24aae16d8e4d5",
                "24b5473199a96bed",
                "db6de4567f5474a4"
            ]
        ]
    },
    {
        "id": "22f24aae16d8e4d5",
        "type": "ui_switch",
        "z": "abae993d62724115",
        "name": "",
        "label": "On / Off  Room 102",
        "tooltip": "",
        "group": "093eb84b5f2dbf36",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 320,
        "wires": [
            [
                "c4400fa2668f6248",
                "a1339026204c75a8"
            ]
        ]
    },
    {
        "id": "a1339026204c75a8",
        "type": "ui_led",
        "z": "abae993d62724115",
        "order": 1,
        "group": "4d6972f9287d121c",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 1110,
        "y": 320,
        "wires": []
    },
    {
        "id": "c4400fa2668f6248",
        "type": "rpi-gpio out",
        "z": "abae993d62724115",
        "name": "Room 102",
        "pin": "22",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1130,
        "y": 360,
        "wires": []
    },
    {
        "id": "24b5473199a96bed",
        "type": "trigger",
        "z": "abae993d62724115",
        "name": "",
        "op1": "1",
        "op2": "true",
        "op1type": "str",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 770,
        "y": 460,
        "wires": [
            [
                "c4400fa2668f6248",
                "5d4f75354d687282",
                "22f24aae16d8e4d5"
            ]
        ]
    },
    {
        "id": "db6de4567f5474a4",
        "type": "ui_led",
        "z": "abae993d62724115",
        "order": 1,
        "group": "c101823e74ae2663",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 750,
        "y": 520,
        "wires": []
    },
    {
        "id": "ea8dc8638e6e1179",
        "type": "ui_button",
        "z": "abae993d62724115",
        "name": "",
        "group": "fdd5af167cd417ae",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Stop Emergency",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 660,
        "wires": [
            [
                "ddbd199bfc30a65c",
                "5839ec409f4fb91a",
                "71a60c4c9cb089ff",
                "633ba649e4f6fdcc",
                "9cf7b8c75870f55b",
                "a810716bfa241f37"
            ]
        ]
    },
    {
        "id": "71a60c4c9cb089ff",
        "type": "ui_button",
        "z": "abae993d62724115",
        "name": "",
        "group": "530e0d574bdc9236",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Start heating 2 Hours",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 760,
        "wires": [
            [
                "633ba649e4f6fdcc",
                "5839ec409f4fb91a",
                "9cf7b8c75870f55b",
                "a810716bfa241f37"
            ]
        ]
    },
    {
        "id": "5839ec409f4fb91a",
        "type": "ui_switch",
        "z": "abae993d62724115",
        "name": "",
        "label": "On / Off  Room 103",
        "tooltip": "",
        "group": "093eb84b5f2dbf36",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 600,
        "wires": [
            [
                "ddbd199bfc30a65c",
                "633ba649e4f6fdcc"
            ]
        ]
    },
    {
        "id": "633ba649e4f6fdcc",
        "type": "ui_led",
        "z": "abae993d62724115",
        "order": 1,
        "group": "4d6972f9287d121c",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 1090,
        "y": 600,
        "wires": []
    },
    {
        "id": "ddbd199bfc30a65c",
        "type": "rpi-gpio out",
        "z": "abae993d62724115",
        "name": "Room 103",
        "pin": "6",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1110,
        "y": 660,
        "wires": []
    },
    {
        "id": "9cf7b8c75870f55b",
        "type": "trigger",
        "z": "abae993d62724115",
        "name": "",
        "op1": "1",
        "op2": "true",
        "op1type": "str",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 770,
        "y": 740,
        "wires": [
            [
                "ddbd199bfc30a65c",
                "ea8dc8638e6e1179",
                "5839ec409f4fb91a"
            ]
        ]
    },
    {
        "id": "a810716bfa241f37",
        "type": "ui_led",
        "z": "abae993d62724115",
        "order": 1,
        "group": "c101823e74ae2663",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 750,
        "y": 800,
        "wires": []
    },
    {
        "id": "833b47e26329cc10",
        "type": "ui_button",
        "z": "abae993d62724115",
        "name": "",
        "group": "fdd5af167cd417ae",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Stop Emergency",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 960,
        "wires": [
            [
                "8d0db0780921cbb3",
                "274dd72034fb60f6",
                "ba42640604f2df0c",
                "7969c018143e9777",
                "0abee89f2f59c163",
                "6cd7a3f43344e8db"
            ]
        ]
    },
    {
        "id": "ba42640604f2df0c",
        "type": "ui_button",
        "z": "abae993d62724115",
        "name": "",
        "group": "530e0d574bdc9236",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Start heating 2 Hours",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 1160,
        "wires": [
            [
                "7969c018143e9777",
                "274dd72034fb60f6",
                "0abee89f2f59c163",
                "6cd7a3f43344e8db"
            ]
        ]
    },
    {
        "id": "274dd72034fb60f6",
        "type": "ui_switch",
        "z": "abae993d62724115",
        "name": "",
        "label": "On / Off  Room 104",
        "tooltip": "",
        "group": "093eb84b5f2dbf36",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 590,
        "y": 880,
        "wires": [
            [
                "8d0db0780921cbb3",
                "7969c018143e9777"
            ]
        ]
    },
    {
        "id": "7969c018143e9777",
        "type": "ui_led",
        "z": "abae993d62724115",
        "order": 1,
        "group": "4d6972f9287d121c",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 1070,
        "y": 900,
        "wires": []
    },
    {
        "id": "8d0db0780921cbb3",
        "type": "rpi-gpio out",
        "z": "abae993d62724115",
        "name": "Room 104",
        "pin": "26",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1090,
        "y": 960,
        "wires": []
    },
    {
        "id": "0abee89f2f59c163",
        "type": "trigger",
        "z": "abae993d62724115",
        "name": "",
        "op1": "1",
        "op2": "true",
        "op1type": "str",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 730,
        "y": 1100,
        "wires": [
            [
                "8d0db0780921cbb3",
                "833b47e26329cc10",
                "274dd72034fb60f6"
            ]
        ]
    },
    {
        "id": "6cd7a3f43344e8db",
        "type": "ui_led",
        "z": "abae993d62724115",
        "order": 1,
        "group": "c101823e74ae2663",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 710,
        "y": 1180,
        "wires": []
    },
    {
        "id": "e5b0352267072371",
        "type": "ui_button",
        "z": "1a1d50b59a95292c",
        "name": "",
        "group": "fdd5af167cd417ae",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Stop Emergency",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 370,
        "y": 140,
        "wires": [
            [
                "95dedd7622bad0b0",
                "5bc6f3f6fba09157",
                "578aca67ad946276",
                "45b5c8b86f0df340",
                "2d68207c9472e568",
                "0a3db99150772642"
            ]
        ]
    },
    {
        "id": "578aca67ad946276",
        "type": "ui_button",
        "z": "1a1d50b59a95292c",
        "name": "",
        "group": "530e0d574bdc9236",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Start heating 2 Hours",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 240,
        "wires": [
            [
                "45b5c8b86f0df340",
                "5bc6f3f6fba09157",
                "2d68207c9472e568",
                "0a3db99150772642"
            ]
        ]
    },
    {
        "id": "5bc6f3f6fba09157",
        "type": "ui_switch",
        "z": "1a1d50b59a95292c",
        "name": "",
        "label": "On / Off  Room 201",
        "tooltip": "",
        "group": "093eb84b5f2dbf36",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 710,
        "y": 100,
        "wires": [
            [
                "95dedd7622bad0b0",
                "45b5c8b86f0df340"
            ]
        ]
    },
    {
        "id": "45b5c8b86f0df340",
        "type": "ui_led",
        "z": "1a1d50b59a95292c",
        "order": 1,
        "group": "4d6972f9287d121c",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 1170,
        "y": 100,
        "wires": []
    },
    {
        "id": "95dedd7622bad0b0",
        "type": "rpi-gpio out",
        "z": "1a1d50b59a95292c",
        "name": "Room 201",
        "pin": "4",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1190,
        "y": 160,
        "wires": []
    },
    {
        "id": "2d68207c9472e568",
        "type": "trigger",
        "z": "1a1d50b59a95292c",
        "name": "",
        "op1": "1",
        "op2": "true",
        "op1type": "str",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 850,
        "y": 220,
        "wires": [
            [
                "e5b0352267072371",
                "5bc6f3f6fba09157",
                "95dedd7622bad0b0"
            ]
        ]
    },
    {
        "id": "0a3db99150772642",
        "type": "ui_led",
        "z": "1a1d50b59a95292c",
        "order": 1,
        "group": "c101823e74ae2663",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 830,
        "y": 280,
        "wires": []
    },
    {
        "id": "6a73c4f854449a15",
        "type": "ui_button",
        "z": "1a1d50b59a95292c",
        "name": "",
        "group": "fdd5af167cd417ae",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Stop Emergency",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 370,
        "y": 440,
        "wires": [
            [
                "39f17cbad08e7099",
                "90d54afe08a9788f",
                "2af48d91bc0c78d9",
                "8873830c0f4ac5f7",
                "f53568057c2f12e4",
                "04ddfa06671f1b04"
            ]
        ]
    },
    {
        "id": "2af48d91bc0c78d9",
        "type": "ui_button",
        "z": "1a1d50b59a95292c",
        "name": "",
        "group": "530e0d574bdc9236",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Start heating 2 Hours",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 540,
        "wires": [
            [
                "8873830c0f4ac5f7",
                "90d54afe08a9788f",
                "f53568057c2f12e4",
                "04ddfa06671f1b04"
            ]
        ]
    },
    {
        "id": "90d54afe08a9788f",
        "type": "ui_switch",
        "z": "1a1d50b59a95292c",
        "name": "",
        "label": "On / Off  Room 202",
        "tooltip": "",
        "group": "093eb84b5f2dbf36",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 710,
        "y": 360,
        "wires": [
            [
                "39f17cbad08e7099",
                "8873830c0f4ac5f7"
            ]
        ]
    },
    {
        "id": "8873830c0f4ac5f7",
        "type": "ui_led",
        "z": "1a1d50b59a95292c",
        "order": 1,
        "group": "4d6972f9287d121c",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 1190,
        "y": 360,
        "wires": []
    },
    {
        "id": "39f17cbad08e7099",
        "type": "rpi-gpio out",
        "z": "1a1d50b59a95292c",
        "name": "Room 102",
        "pin": "22",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1210,
        "y": 400,
        "wires": []
    },
    {
        "id": "f53568057c2f12e4",
        "type": "trigger",
        "z": "1a1d50b59a95292c",
        "name": "",
        "op1": "1",
        "op2": "true",
        "op1type": "str",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 850,
        "y": 500,
        "wires": [
            [
                "6a73c4f854449a15",
                "90d54afe08a9788f",
                "39f17cbad08e7099"
            ]
        ]
    },
    {
        "id": "04ddfa06671f1b04",
        "type": "ui_led",
        "z": "1a1d50b59a95292c",
        "order": 1,
        "group": "c101823e74ae2663",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 830,
        "y": 560,
        "wires": []
    },
    {
        "id": "3dfc67ce5f9f0fc5",
        "type": "ui_button",
        "z": "1a1d50b59a95292c",
        "name": "",
        "group": "fdd5af167cd417ae",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Stop Emergency",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 700,
        "wires": [
            [
                "73aa559c26f2930b",
                "6f5c647d16d4f015",
                "1db0e533667a8cd4",
                "1afdfcd164b40922",
                "d7b7e2afc46121b2",
                "52aaa37491d105e3"
            ]
        ]
    },
    {
        "id": "1db0e533667a8cd4",
        "type": "ui_button",
        "z": "1a1d50b59a95292c",
        "name": "",
        "group": "530e0d574bdc9236",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Start heating 2 Hours",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 800,
        "wires": [
            [
                "1afdfcd164b40922",
                "6f5c647d16d4f015",
                "d7b7e2afc46121b2",
                "52aaa37491d105e3"
            ]
        ]
    },
    {
        "id": "6f5c647d16d4f015",
        "type": "ui_switch",
        "z": "1a1d50b59a95292c",
        "name": "",
        "label": "On / Off  Room 203",
        "tooltip": "",
        "group": "093eb84b5f2dbf36",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 710,
        "y": 640,
        "wires": [
            [
                "73aa559c26f2930b",
                "1afdfcd164b40922"
            ]
        ]
    },
    {
        "id": "1afdfcd164b40922",
        "type": "ui_led",
        "z": "1a1d50b59a95292c",
        "order": 1,
        "group": "4d6972f9287d121c",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 1170,
        "y": 640,
        "wires": []
    },
    {
        "id": "73aa559c26f2930b",
        "type": "rpi-gpio out",
        "z": "1a1d50b59a95292c",
        "name": "Room 203",
        "pin": "6",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1190,
        "y": 700,
        "wires": []
    },
    {
        "id": "d7b7e2afc46121b2",
        "type": "trigger",
        "z": "1a1d50b59a95292c",
        "name": "",
        "op1": "1",
        "op2": "true",
        "op1type": "str",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 850,
        "y": 780,
        "wires": [
            [
                "3dfc67ce5f9f0fc5",
                "6f5c647d16d4f015",
                "73aa559c26f2930b"
            ]
        ]
    },
    {
        "id": "52aaa37491d105e3",
        "type": "ui_led",
        "z": "1a1d50b59a95292c",
        "order": 1,
        "group": "c101823e74ae2663",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 830,
        "y": 840,
        "wires": []
    },
    {
        "id": "12f8e3429ba8782f",
        "type": "ui_button",
        "z": "1a1d50b59a95292c",
        "name": "",
        "group": "fdd5af167cd417ae",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Stop Emergency",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 1000,
        "wires": [
            [
                "501e46e51a2ce96c",
                "4d794e43fa48af8a",
                "a1ad405c92340a95",
                "4dc91a5f51251068",
                "1eba602615892e31",
                "937e7dbb543c8965"
            ]
        ]
    },
    {
        "id": "a1ad405c92340a95",
        "type": "ui_button",
        "z": "1a1d50b59a95292c",
        "name": "",
        "group": "530e0d574bdc9236",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Start heating 2 Hours",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 320,
        "y": 1200,
        "wires": [
            [
                "4dc91a5f51251068",
                "4d794e43fa48af8a",
                "1eba602615892e31",
                "937e7dbb543c8965"
            ]
        ]
    },
    {
        "id": "4d794e43fa48af8a",
        "type": "ui_switch",
        "z": "1a1d50b59a95292c",
        "name": "",
        "label": "On / Off  Room 204",
        "tooltip": "",
        "group": "093eb84b5f2dbf36",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 670,
        "y": 920,
        "wires": [
            [
                "501e46e51a2ce96c",
                "4dc91a5f51251068"
            ]
        ]
    },
    {
        "id": "4dc91a5f51251068",
        "type": "ui_led",
        "z": "1a1d50b59a95292c",
        "order": 1,
        "group": "4d6972f9287d121c",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 1150,
        "y": 940,
        "wires": []
    },
    {
        "id": "501e46e51a2ce96c",
        "type": "rpi-gpio out",
        "z": "1a1d50b59a95292c",
        "name": "Room 204",
        "pin": "26",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1170,
        "y": 1000,
        "wires": []
    },
    {
        "id": "1eba602615892e31",
        "type": "trigger",
        "z": "1a1d50b59a95292c",
        "name": "",
        "op1": "1",
        "op2": "true",
        "op1type": "str",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 810,
        "y": 1140,
        "wires": [
            [
                "12f8e3429ba8782f",
                "4d794e43fa48af8a",
                "501e46e51a2ce96c"
            ]
        ]
    },
    {
        "id": "937e7dbb543c8965",
        "type": "ui_led",
        "z": "1a1d50b59a95292c",
        "order": 1,
        "group": "c101823e74ae2663",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 790,
        "y": 1220,
        "wires": []
    },
    {
        "id": "c376f883de6836d2",
        "type": "ui_button",
        "z": "148369de717cd4b9",
        "name": "",
        "group": "fdd5af167cd417ae",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Stop Emergency",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "63c0af0471f8a8c5",
                "81f90d0e8ff9de4f",
                "93c7f0b492c4828b",
                "5613e6ec847f98be",
                "8e0eeed5e3b4d8aa",
                "f4535bd81971ebb5"
            ]
        ]
    },
    {
        "id": "93c7f0b492c4828b",
        "type": "ui_button",
        "z": "148369de717cd4b9",
        "name": "",
        "group": "530e0d574bdc9236",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Start heating 2 Hours",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 460,
        "y": 280,
        "wires": [
            [
                "5613e6ec847f98be",
                "81f90d0e8ff9de4f",
                "8e0eeed5e3b4d8aa",
                "f4535bd81971ebb5"
            ]
        ]
    },
    {
        "id": "81f90d0e8ff9de4f",
        "type": "ui_switch",
        "z": "148369de717cd4b9",
        "name": "",
        "label": "On / Off  Room 301",
        "tooltip": "",
        "group": "093eb84b5f2dbf36",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 810,
        "y": 140,
        "wires": [
            [
                "63c0af0471f8a8c5",
                "5613e6ec847f98be"
            ]
        ]
    },
    {
        "id": "ec347624d59fcec3",
        "type": "ui_template",
        "z": "148369de717cd4b9",
        "group": "c982fbb8.1deb38",
        "name": "Clock Toolbar",
        "order": 2,
        "width": "0",
        "height": "0",
        "format": "<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "global",
        "x": 120,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "5613e6ec847f98be",
        "type": "ui_led",
        "z": "148369de717cd4b9",
        "order": 1,
        "group": "4d6972f9287d121c",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 1270,
        "y": 140,
        "wires": []
    },
    {
        "id": "63c0af0471f8a8c5",
        "type": "rpi-gpio out",
        "z": "148369de717cd4b9",
        "name": "Room 301",
        "pin": "4",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1290,
        "y": 200,
        "wires": []
    },
    {
        "id": "8e0eeed5e3b4d8aa",
        "type": "trigger",
        "z": "148369de717cd4b9",
        "name": "",
        "op1": "1",
        "op2": "true",
        "op1type": "str",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 950,
        "y": 260,
        "wires": [
            [
                "63c0af0471f8a8c5",
                "c376f883de6836d2",
                "81f90d0e8ff9de4f"
            ]
        ]
    },
    {
        "id": "f4535bd81971ebb5",
        "type": "ui_led",
        "z": "148369de717cd4b9",
        "order": 1,
        "group": "c101823e74ae2663",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 930,
        "y": 320,
        "wires": []
    },
    {
        "id": "52ef26996f21310b",
        "type": "ui_button",
        "z": "148369de717cd4b9",
        "name": "",
        "group": "fdd5af167cd417ae",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Stop Emergency",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 470,
        "y": 480,
        "wires": [
            [
                "73193ef2f3469c23",
                "e58a91d01dac65d8",
                "b0e631cb31d8b481",
                "378653a1f66968cc",
                "1d459919648e785f",
                "d5cb1c257db092fa"
            ]
        ]
    },
    {
        "id": "b0e631cb31d8b481",
        "type": "ui_button",
        "z": "148369de717cd4b9",
        "name": "",
        "group": "530e0d574bdc9236",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Start heating 2 Hours",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 460,
        "y": 580,
        "wires": [
            [
                "378653a1f66968cc",
                "e58a91d01dac65d8",
                "1d459919648e785f",
                "d5cb1c257db092fa"
            ]
        ]
    },
    {
        "id": "e58a91d01dac65d8",
        "type": "ui_switch",
        "z": "148369de717cd4b9",
        "name": "",
        "label": "On / Off  Room 302",
        "tooltip": "",
        "group": "093eb84b5f2dbf36",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 810,
        "y": 400,
        "wires": [
            [
                "73193ef2f3469c23",
                "378653a1f66968cc"
            ]
        ]
    },
    {
        "id": "378653a1f66968cc",
        "type": "ui_led",
        "z": "148369de717cd4b9",
        "order": 1,
        "group": "4d6972f9287d121c",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 1290,
        "y": 400,
        "wires": []
    },
    {
        "id": "73193ef2f3469c23",
        "type": "rpi-gpio out",
        "z": "148369de717cd4b9",
        "name": "Room 302",
        "pin": "22",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1310,
        "y": 440,
        "wires": []
    },
    {
        "id": "1d459919648e785f",
        "type": "trigger",
        "z": "148369de717cd4b9",
        "name": "",
        "op1": "1",
        "op2": "true",
        "op1type": "str",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 950,
        "y": 540,
        "wires": [
            [
                "73193ef2f3469c23",
                "52ef26996f21310b",
                "e58a91d01dac65d8"
            ]
        ]
    },
    {
        "id": "d5cb1c257db092fa",
        "type": "ui_led",
        "z": "148369de717cd4b9",
        "order": 1,
        "group": "c101823e74ae2663",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 930,
        "y": 600,
        "wires": []
    },
    {
        "id": "6736dfb538288a95",
        "type": "ui_button",
        "z": "148369de717cd4b9",
        "name": "",
        "group": "fdd5af167cd417ae",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Stop Emergency",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 740,
        "wires": [
            [
                "26b6a710b4782fa4",
                "99e4727fe9d6d867",
                "1d3611842d1dd4bb",
                "26dd7fad9b5d8ffd",
                "5806edcc29f54dbd",
                "796d1df3a7265512"
            ]
        ]
    },
    {
        "id": "1d3611842d1dd4bb",
        "type": "ui_button",
        "z": "148369de717cd4b9",
        "name": "",
        "group": "530e0d574bdc9236",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Start heating 2 Hours",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 440,
        "y": 840,
        "wires": [
            [
                "26dd7fad9b5d8ffd",
                "99e4727fe9d6d867",
                "5806edcc29f54dbd",
                "796d1df3a7265512"
            ]
        ]
    },
    {
        "id": "99e4727fe9d6d867",
        "type": "ui_switch",
        "z": "148369de717cd4b9",
        "name": "",
        "label": "On / Off  Room 303",
        "tooltip": "",
        "group": "093eb84b5f2dbf36",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 810,
        "y": 680,
        "wires": [
            [
                "26b6a710b4782fa4",
                "26dd7fad9b5d8ffd"
            ]
        ]
    },
    {
        "id": "26dd7fad9b5d8ffd",
        "type": "ui_led",
        "z": "148369de717cd4b9",
        "order": 1,
        "group": "4d6972f9287d121c",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 1270,
        "y": 680,
        "wires": []
    },
    {
        "id": "26b6a710b4782fa4",
        "type": "rpi-gpio out",
        "z": "148369de717cd4b9",
        "name": "Room 303",
        "pin": "6",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1290,
        "y": 740,
        "wires": []
    },
    {
        "id": "5806edcc29f54dbd",
        "type": "trigger",
        "z": "148369de717cd4b9",
        "name": "",
        "op1": "1",
        "op2": "true",
        "op1type": "str",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 950,
        "y": 820,
        "wires": [
            [
                "26b6a710b4782fa4",
                "6736dfb538288a95",
                "99e4727fe9d6d867"
            ]
        ]
    },
    {
        "id": "796d1df3a7265512",
        "type": "ui_led",
        "z": "148369de717cd4b9",
        "order": 1,
        "group": "c101823e74ae2663",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 930,
        "y": 880,
        "wires": []
    },
    {
        "id": "a3632834d1e92443",
        "type": "ui_button",
        "z": "148369de717cd4b9",
        "name": "",
        "group": "fdd5af167cd417ae",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Stop Emergency",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 430,
        "y": 1040,
        "wires": [
            [
                "cd959f0103bb7c18",
                "429462f75dd7f8df",
                "a30549846c9037c8",
                "8f40f27ddb2fab7d",
                "73c99b8c67741972",
                "414b5464faf7ffe5"
            ]
        ]
    },
    {
        "id": "a30549846c9037c8",
        "type": "ui_button",
        "z": "148369de717cd4b9",
        "name": "",
        "group": "530e0d574bdc9236",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Start heating 2 Hours",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 420,
        "y": 1240,
        "wires": [
            [
                "8f40f27ddb2fab7d",
                "429462f75dd7f8df",
                "73c99b8c67741972",
                "414b5464faf7ffe5"
            ]
        ]
    },
    {
        "id": "429462f75dd7f8df",
        "type": "ui_switch",
        "z": "148369de717cd4b9",
        "name": "",
        "label": "On / Off  Room 304",
        "tooltip": "",
        "group": "093eb84b5f2dbf36",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 960,
        "wires": [
            [
                "cd959f0103bb7c18",
                "8f40f27ddb2fab7d"
            ]
        ]
    },
    {
        "id": "8f40f27ddb2fab7d",
        "type": "ui_led",
        "z": "148369de717cd4b9",
        "order": 1,
        "group": "4d6972f9287d121c",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 1250,
        "y": 980,
        "wires": []
    },
    {
        "id": "cd959f0103bb7c18",
        "type": "rpi-gpio out",
        "z": "148369de717cd4b9",
        "name": "Room 304",
        "pin": "26",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1270,
        "y": 1040,
        "wires": []
    },
    {
        "id": "73c99b8c67741972",
        "type": "trigger",
        "z": "148369de717cd4b9",
        "name": "",
        "op1": "1",
        "op2": "true",
        "op1type": "str",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 910,
        "y": 1180,
        "wires": [
            [
                "cd959f0103bb7c18",
                "a3632834d1e92443",
                "429462f75dd7f8df"
            ]
        ]
    },
    {
        "id": "414b5464faf7ffe5",
        "type": "ui_led",
        "z": "148369de717cd4b9",
        "order": 1,
        "group": "c101823e74ae2663",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 890,
        "y": 1260,
        "wires": []
    },
    {
        "id": "8f03e47a39222a80",
        "type": "ui_button",
        "z": "243b7f0b3e52653f",
        "name": "",
        "group": "fdd5af167cd417ae",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Stop Emergency",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 180,
        "wires": [
            [
                "0b14392cd71caf38",
                "6962b8031c789ff7",
                "5f9eea368672327a",
                "a365874d048892be",
                "687644348acb753f",
                "3e9cec353eb5ac70"
            ]
        ]
    },
    {
        "id": "5f9eea368672327a",
        "type": "ui_button",
        "z": "243b7f0b3e52653f",
        "name": "",
        "group": "530e0d574bdc9236",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Start heating 2 Hours",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 400,
        "y": 280,
        "wires": [
            [
                "a365874d048892be",
                "6962b8031c789ff7",
                "687644348acb753f",
                "3e9cec353eb5ac70"
            ]
        ]
    },
    {
        "id": "6962b8031c789ff7",
        "type": "ui_switch",
        "z": "243b7f0b3e52653f",
        "name": "",
        "label": "On / Off  Room 401",
        "tooltip": "",
        "group": "093eb84b5f2dbf36",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 750,
        "y": 140,
        "wires": [
            [
                "0b14392cd71caf38",
                "a365874d048892be"
            ]
        ]
    },
    {
        "id": "55eedd4c4ad09eaf",
        "type": "ui_template",
        "z": "243b7f0b3e52653f",
        "group": "c982fbb8.1deb38",
        "name": "Clock Toolbar",
        "order": 2,
        "width": "0",
        "height": "0",
        "format": "<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "global",
        "x": 220,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "a365874d048892be",
        "type": "ui_led",
        "z": "243b7f0b3e52653f",
        "order": 1,
        "group": "4d6972f9287d121c",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 1210,
        "y": 140,
        "wires": []
    },
    {
        "id": "0b14392cd71caf38",
        "type": "rpi-gpio out",
        "z": "243b7f0b3e52653f",
        "name": "Room 401",
        "pin": "4",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1230,
        "y": 200,
        "wires": []
    },
    {
        "id": "687644348acb753f",
        "type": "trigger",
        "z": "243b7f0b3e52653f",
        "name": "",
        "op1": "1",
        "op2": "true",
        "op1type": "str",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 890,
        "y": 260,
        "wires": [
            [
                "0b14392cd71caf38",
                "8f03e47a39222a80",
                "6962b8031c789ff7"
            ]
        ]
    },
    {
        "id": "3e9cec353eb5ac70",
        "type": "ui_led",
        "z": "243b7f0b3e52653f",
        "order": 1,
        "group": "c101823e74ae2663",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 870,
        "y": 320,
        "wires": []
    },
    {
        "id": "a0fe054af5c97e92",
        "type": "ui_button",
        "z": "243b7f0b3e52653f",
        "name": "",
        "group": "fdd5af167cd417ae",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Stop Emergency",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 480,
        "wires": [
            [
                "bf7290651727a8ec",
                "1a68cd4a7fbdfa6a",
                "e7f1c0a42ab5a82e",
                "f29c9f947c8c2e96",
                "aa2d5cf2f4f9f418",
                "ec485575fd1e158f"
            ]
        ]
    },
    {
        "id": "e7f1c0a42ab5a82e",
        "type": "ui_button",
        "z": "243b7f0b3e52653f",
        "name": "",
        "group": "530e0d574bdc9236",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Start heating 2 Hours",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 400,
        "y": 580,
        "wires": [
            [
                "f29c9f947c8c2e96",
                "1a68cd4a7fbdfa6a",
                "aa2d5cf2f4f9f418",
                "ec485575fd1e158f"
            ]
        ]
    },
    {
        "id": "1a68cd4a7fbdfa6a",
        "type": "ui_switch",
        "z": "243b7f0b3e52653f",
        "name": "",
        "label": "On / Off  Room 402",
        "tooltip": "",
        "group": "093eb84b5f2dbf36",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 750,
        "y": 400,
        "wires": [
            [
                "bf7290651727a8ec",
                "f29c9f947c8c2e96"
            ]
        ]
    },
    {
        "id": "f29c9f947c8c2e96",
        "type": "ui_led",
        "z": "243b7f0b3e52653f",
        "order": 1,
        "group": "4d6972f9287d121c",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 1230,
        "y": 400,
        "wires": []
    },
    {
        "id": "bf7290651727a8ec",
        "type": "rpi-gpio out",
        "z": "243b7f0b3e52653f",
        "name": "Room 402",
        "pin": "22",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1250,
        "y": 440,
        "wires": []
    },
    {
        "id": "aa2d5cf2f4f9f418",
        "type": "trigger",
        "z": "243b7f0b3e52653f",
        "name": "",
        "op1": "1",
        "op2": "true",
        "op1type": "str",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 890,
        "y": 540,
        "wires": [
            [
                "bf7290651727a8ec",
                "a0fe054af5c97e92",
                "1a68cd4a7fbdfa6a"
            ]
        ]
    },
    {
        "id": "ec485575fd1e158f",
        "type": "ui_led",
        "z": "243b7f0b3e52653f",
        "order": 1,
        "group": "c101823e74ae2663",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 870,
        "y": 600,
        "wires": []
    },
    {
        "id": "a72eb7b994e3e6b4",
        "type": "ui_button",
        "z": "243b7f0b3e52653f",
        "name": "",
        "group": "fdd5af167cd417ae",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Stop Emergency",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 740,
        "wires": [
            [
                "6b353636455a2df9",
                "6aa44a4802368fd8",
                "eac37588d112b5eb",
                "3ff246d1832f0b0a",
                "12541b5db6775209",
                "6f27d50d5369c41f"
            ]
        ]
    },
    {
        "id": "eac37588d112b5eb",
        "type": "ui_button",
        "z": "243b7f0b3e52653f",
        "name": "",
        "group": "530e0d574bdc9236",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Start heating 2 Hours",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 380,
        "y": 840,
        "wires": [
            [
                "3ff246d1832f0b0a",
                "6aa44a4802368fd8",
                "12541b5db6775209",
                "6f27d50d5369c41f"
            ]
        ]
    },
    {
        "id": "6aa44a4802368fd8",
        "type": "ui_switch",
        "z": "243b7f0b3e52653f",
        "name": "",
        "label": "On / Off  Room 403",
        "tooltip": "",
        "group": "093eb84b5f2dbf36",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 750,
        "y": 680,
        "wires": [
            [
                "6b353636455a2df9",
                "3ff246d1832f0b0a"
            ]
        ]
    },
    {
        "id": "3ff246d1832f0b0a",
        "type": "ui_led",
        "z": "243b7f0b3e52653f",
        "order": 1,
        "group": "4d6972f9287d121c",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 1210,
        "y": 680,
        "wires": []
    },
    {
        "id": "6b353636455a2df9",
        "type": "rpi-gpio out",
        "z": "243b7f0b3e52653f",
        "name": "Room 403",
        "pin": "6",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1230,
        "y": 740,
        "wires": []
    },
    {
        "id": "12541b5db6775209",
        "type": "trigger",
        "z": "243b7f0b3e52653f",
        "name": "",
        "op1": "1",
        "op2": "true",
        "op1type": "str",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 890,
        "y": 820,
        "wires": [
            [
                "6b353636455a2df9",
                "a72eb7b994e3e6b4",
                "6aa44a4802368fd8"
            ]
        ]
    },
    {
        "id": "6f27d50d5369c41f",
        "type": "ui_led",
        "z": "243b7f0b3e52653f",
        "order": 1,
        "group": "c101823e74ae2663",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 870,
        "y": 880,
        "wires": []
    },
    {
        "id": "989aafd6cbbbe85d",
        "type": "ui_button",
        "z": "243b7f0b3e52653f",
        "name": "",
        "group": "fdd5af167cd417ae",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Stop Emergency",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 370,
        "y": 1040,
        "wires": [
            [
                "029a622959aee80c",
                "77670c69899e28e0",
                "7ec270b39c4fb9ce",
                "377ab88ec8c155ea",
                "e9d61031ae0b750d",
                "212e9db62c5194d6"
            ]
        ]
    },
    {
        "id": "7ec270b39c4fb9ce",
        "type": "ui_button",
        "z": "243b7f0b3e52653f",
        "name": "",
        "group": "530e0d574bdc9236",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Start heating 2 Hours",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 1240,
        "wires": [
            [
                "377ab88ec8c155ea",
                "77670c69899e28e0",
                "e9d61031ae0b750d",
                "212e9db62c5194d6"
            ]
        ]
    },
    {
        "id": "77670c69899e28e0",
        "type": "ui_switch",
        "z": "243b7f0b3e52653f",
        "name": "",
        "label": "On / Off  Room 404",
        "tooltip": "",
        "group": "093eb84b5f2dbf36",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 710,
        "y": 960,
        "wires": [
            [
                "029a622959aee80c",
                "377ab88ec8c155ea"
            ]
        ]
    },
    {
        "id": "377ab88ec8c155ea",
        "type": "ui_led",
        "z": "243b7f0b3e52653f",
        "order": 1,
        "group": "4d6972f9287d121c",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 1190,
        "y": 980,
        "wires": []
    },
    {
        "id": "029a622959aee80c",
        "type": "rpi-gpio out",
        "z": "243b7f0b3e52653f",
        "name": "Room 104",
        "pin": "26",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1210,
        "y": 1040,
        "wires": []
    },
    {
        "id": "e9d61031ae0b750d",
        "type": "trigger",
        "z": "243b7f0b3e52653f",
        "name": "",
        "op1": "1",
        "op2": "true",
        "op1type": "str",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 850,
        "y": 1180,
        "wires": [
            [
                "029a622959aee80c",
                "989aafd6cbbbe85d",
                "77670c69899e28e0"
            ]
        ]
    },
    {
        "id": "212e9db62c5194d6",
        "type": "ui_led",
        "z": "243b7f0b3e52653f",
        "order": 1,
        "group": "c101823e74ae2663",
        "width": 3,
        "height": 1,
        "label": "On / Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 830,
        "y": 1260,
        "wires": []
    }
]